{% if site.summary %}
<section class="section summary-section">

  <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>

    <!--<div class="summary">-->
      <p align="justify">
      I am an aspiring Data Scientist based in Mountain View, interested in leveraging my experience in the area of deep learning to improve various aspects of businesses.<br>Currently, I am working with Wireclass as a part-time data scientist, building a text classifier using a convolutional neural network to classify customer requests into different categories. I have worked on varied data intensive projects across various industrial settings.<br>My research interests are in the use of deep learning and artificial intelligence techniques for fraud detection, fake news detection and making smarter products with custom experiences for users.
      </p>
    <!--</div>--> <!--//summary-->
    
</section><!--//section-->
{% endif %}
